In [1]:
import pandas as pd
import numpy as np

In [5]:
ediya = pd.read_csv("./ediya.csv", index_col = 0 )
ediya

          제목                  주소                         위도/경도
0      IBK본점        서울 중구 을지로 79                  X : 0, Y : 0
1       YTN점     서울 중구 세종대로1길 11  X :126.986204, Y :37.5664756
2       광희동점    서울 중구 마른내로 165-1  X :126.972534, Y :37.5581839
3        다동점        서울 중구 다동길 46  X :127.006487, Y :37.5646114
4     동국대후문점        서울 중구 창경궁로 2  X :126.982038, Y :37.5679076
..       ...                 ...                           ...
718    수유1동점      서울 강북구 삼양로 293  X :127.018714, Y :37.6241925
719   수유사거리점       서울 강북구 덕릉로 82  X :127.017684, Y :37.6297156
720     수유역점      서울 강북구 도봉로 355  X :127.022829, Y :37.6343909
721  우이역도선사점   서울 강북구 삼양로173길 21  X :127.026728, Y :37.6393725
722     한신대점       서울 강북구 덕릉로 31  X :127.011277, Y :37.6624849

[723 rows x 3 columns]

In [6]:
starbucks = pd.read_csv("./starbucks.csv", index_col = 0 )
starbucks

         제목                      주소    구                         위도/경도
0    가산브이타워   서울특별시 금천구 가산디지털1로 128  금천구                  X : 0, Y : 0
1     가산디지털   서울특별시 금천구 가산디지털1로 168  금천구  X :126.883727, Y :37.4772012
2    마리오아울렛       서울특별시 금천구 벚꽃로 266  금천구  X :126.882490, Y :37.4798760
4    가산에스케이   서울특별시 금천구 가산디지털1로 171  금천구  X :126.885002, Y :37.4784369
5    W-Mall      서울특별시 금천구 디지털로 188  금천구  X :126.880680, Y :37.4807121
..      ...                     ...  ...                           ...
588    사가정역       서울특별시 중랑구 면목로 310  중랑구  X :127.095696, Y :37.6053796
589     상봉역       서울특별시 중랑구 망우로 307  중랑구  X :127.087965, Y :37.5796083
590      묵동       서울특별시 중랑구 동일로 952  중랑구  X :127.086649, Y :37.5969712
591     양원역     서울특별시 중랑구 양원역로10길 3  중랑구  X :127.076601, Y :37.6153852
592     중화역       서울특별시 중랑구 봉화산로 35  중랑구  X :127.106184, Y :37.6065780

[590 rows x 4 columns]

#### 위도 경도 데이터가 하나씩 밀려있어서 이를 수정해야합니다.

In [7]:
ediya_location = ediya["위도/경도"]
ediya_location = np.array(ediya["위도/경도"].tolist())
ediya_location = ediya_location[1:]

ediya_location= np.append(ediya_location, "0")
len(ediya_location)

723

In [9]:
starbucks_location = np.array(starbucks["위도/경도"].tolist())
starbucks_location = starbucks_location[1:]
starbucks_location = np.append(starbucks_location, "0")
len(starbucks_location)

590

위도 경도의 데이터를 가져와서 리스트로 만들고

0을 제외하고 1부터 끝까지 리스트를 자릅니다.

그리고 리스트의 끝에 0을 삽입하여 범위를 맞춰줍니다.

In [10]:
starbucks["진위도/경도"] = starbucks_location
del starbucks["위도/경도"]
starbucks

         제목                      주소    구                        진위도/경도
0    가산브이타워   서울특별시 금천구 가산디지털1로 128  금천구  X :126.883727, Y :37.4772012
1     가산디지털   서울특별시 금천구 가산디지털1로 168  금천구  X :126.882490, Y :37.4798760
2    마리오아울렛       서울특별시 금천구 벚꽃로 266  금천구  X :126.885002, Y :37.4784369
4    가산에스케이   서울특별시 금천구 가산디지털1로 171  금천구  X :126.880680, Y :37.4807121
5    W-Mall      서울특별시 금천구 디지털로 188  금천구  X :126.887683, Y :37.4773042
..      ...                     ...  ...                           ...
588    사가정역       서울특별시 중랑구 면목로 310  중랑구  X :127.087965, Y :37.5796083
589     상봉역       서울특별시 중랑구 망우로 307  중랑구  X :127.086649, Y :37.5969712
590      묵동       서울특별시 중랑구 동일로 952  중랑구  X :127.076601, Y :37.6153852
591     양원역     서울특별시 중랑구 양원역로10길 3  중랑구  X :127.106184, Y :37.6065780
592     중화역       서울특별시 중랑구 봉화산로 35  중랑구                             0

[590 rows x 4 columns]

In [11]:
ediya["진위도/경도"] = ediya_location
del ediya["위도/경도"]
ediya

          제목                  주소                        진위도/경도
0      IBK본점        서울 중구 을지로 79  X :126.986204, Y :37.5664756
1       YTN점     서울 중구 세종대로1길 11  X :126.972534, Y :37.5581839
2       광희동점    서울 중구 마른내로 165-1  X :127.006487, Y :37.5646114
3        다동점        서울 중구 다동길 46  X :126.982038, Y :37.5679076
4     동국대후문점        서울 중구 창경궁로 2  X :126.998678, Y :37.5625392
..       ...                 ...                           ...
718    수유1동점      서울 강북구 삼양로 293  X :127.017684, Y :37.6297156
719   수유사거리점       서울 강북구 덕릉로 82  X :127.022829, Y :37.6343909
720     수유역점      서울 강북구 도봉로 355  X :127.026728, Y :37.6393725
721  우이역도선사점   서울 강북구 삼양로173길 21  X :127.011277, Y :37.6624849
722     한신대점       서울 강북구 덕릉로 31                             0

[723 rows x 3 columns]

그래서 진짜 위도 경도를 만들어주었습니다.

In [12]:
ediya["진위도/경도"][716] = "X :127.016915, Y :37.6342026"

시간제한으로 인해 이 부분만 따로 검색해서 추가합니다. 복습할때는 제대로 디버깅을 해보겠습니다. (데이터를 다시 불러오는데 40분정도 걸립니다.)

In [13]:
ediya

          제목                  주소                        진위도/경도
0      IBK본점        서울 중구 을지로 79  X :126.986204, Y :37.5664756
1       YTN점     서울 중구 세종대로1길 11  X :126.972534, Y :37.5581839
2       광희동점    서울 중구 마른내로 165-1  X :127.006487, Y :37.5646114
3        다동점        서울 중구 다동길 46  X :126.982038, Y :37.5679076
4     동국대후문점        서울 중구 창경궁로 2  X :126.998678, Y :37.5625392
..       ...                 ...                           ...
718    수유1동점      서울 강북구 삼양로 293  X :127.017684, Y :37.6297156
719   수유사거리점       서울 강북구 덕릉로 82  X :127.022829, Y :37.6343909
720     수유역점      서울 강북구 도봉로 355  X :127.026728, Y :37.6393725
721  우이역도선사점   서울 강북구 삼양로173길 21  X :127.011277, Y :37.6624849
722     한신대점       서울 강북구 덕릉로 31                             0

[723 rows x 3 columns]

In [14]:
ediya.to_csv(
    "ediya.csv", sep=',', encoding="UTF-8"
)

ediya.to_csv(
    "(2)ediya.csv", sep=',', encoding="UTF-8"
)

starbucks.to_csv(
    "starbucks.csv", sep=',', encoding="UTF-8"
)

starbucks.to_csv(
    "(2)starbucks.csv", sep=',', encoding="UTF-8"
)

데이터 가져오는게 너무오래걸려서



파일 잘못 건들면 한시간이 날아갑니다. 그러니 백업파일도 하나 만들었습니다.

## 혹시 모르니 인덱스를 다시 한번 맞춰줍니다.

In [17]:
starbuck_reindex = starbucks.reset_index()
starbuck_reindex.head(10)

   index        제목                      주소    구                        진위도/경도
0      0    가산브이타워   서울특별시 금천구 가산디지털1로 128  금천구  X :126.883727, Y :37.4772012
1      1     가산디지털   서울특별시 금천구 가산디지털1로 168  금천구  X :126.882490, Y :37.4798760
2      2    마리오아울렛       서울특별시 금천구 벚꽃로 266  금천구  X :126.885002, Y :37.4784369
3      4    가산에스케이   서울특별시 금천구 가산디지털1로 171  금천구  X :126.880680, Y :37.4807121
4      5    W-Mall      서울특별시 금천구 디지털로 188  금천구  X :126.887683, Y :37.4773042
5      6       독산역    서울특별시 금천구 가산디지털1로 16  금천구  X :126.887981, Y :37.4675827
6      7   가산현대아울렛     서울특별시 금천구 디지털로10길 9  금천구  X :126.889062, Y :37.4775668
7      8  가산디지털단지역       서울특별시 금천구 벚꽃로 298  금천구  X :126.883901, Y :37.4813731
8      9    가산그레이트     서울특별시 금천구 디지털로9길 32  금천구  X :126.887511, Y :37.4794755
9     10   역삼아레나빌딩       서울특별시 강남구 언주로 425  강남구  X :127.042876, Y :37.5010930

이제 위도와 경도를 분리해내는 작업을 진행합니다.

우리가 0을 주거나 값이 이상한 경우가 있어서 그 경우에는 예외를 시켰습니다.

이디야의 위도 경도를 가져오는 과정입니다.

In [27]:
x_data = []
y_data = []

for i in range(len(ediya["진위도/경도"])):
    temp = ediya["진위도/경도"]
    try:
        temp_ediya = temp[i].split(",")
        x = temp_ediya[0].split(":")
        x_value = x[1]
    except:
        print("예외")
        
    x_data.append(x_value)
    
    try:   
        temp_ediya = temp[i].split(",")
        y = temp_ediya[1].split(":")
        y_value = y[1]
    except:
        print("예외")
    
    y_data.append(y_value)
len(y_data)

예외
예외

723

In [28]:
ediya["경도"] = x_data
ediya["위도"] = y_data
del ediya["진위도/경도"]
ediya

          제목                  주소          경도          위도
0      IBK본점        서울 중구 을지로 79  126.986204  37.5664756
1       YTN점     서울 중구 세종대로1길 11  126.972534  37.5581839
2       광희동점    서울 중구 마른내로 165-1  127.006487  37.5646114
3        다동점        서울 중구 다동길 46  126.982038  37.5679076
4     동국대후문점        서울 중구 창경궁로 2  126.998678  37.5625392
..       ...                 ...         ...         ...
718    수유1동점      서울 강북구 삼양로 293  127.017684  37.6297156
719   수유사거리점       서울 강북구 덕릉로 82  127.022829  37.6343909
720     수유역점      서울 강북구 도봉로 355  127.026728  37.6393725
721  우이역도선사점   서울 강북구 삼양로173길 21  127.011277  37.6624849
722     한신대점       서울 강북구 덕릉로 31  127.011277  37.6624849

[723 rows x 4 columns]

오류가 있다고 하지만 데이터는 이미 더 진행되어 있기 때문에 설명만 하고 넘어갑니다.
순서대로 진행하면 해결됩니다.

In [30]:
x_data = []
y_data = []

for i in range(len(starbuck_reindex["진위도/경도"])):
    temp = starbuck_reindex["진위도/경도"]
    try:
        temp_star = temp[i].split(",")
        x = temp_star[0].split(":")
        x_value = x[1]
        x_data.append(x_value)
        
    except:
        x_data.append(0)
   
    
    try:
        temp_star = temp[i].split(",")
        y = temp_star[1].split(":")
        y_value = y[1]
        y_data.append(y_value)
        
    except: 
        y_data.append(0)
        

len(x_data)

KeyError: '진위도/경도'

In [ ]:
starbuck_reindex["경도"] = x_data
starbuck_reindex["위도"] = y_data
del starbuck_reindex["진위도/경도"]
starbuck_reindex

In [31]:
del starbuck_reindex["index"]
starbuck_reindex

         제목                      주소    구          경도          위도
0    가산브이타워   서울특별시 금천구 가산디지털1로 128  금천구  126.883727  37.4772012
1     가산디지털   서울특별시 금천구 가산디지털1로 168  금천구  126.882490  37.4798760
2    마리오아울렛       서울특별시 금천구 벚꽃로 266  금천구  126.885002  37.4784369
3    가산에스케이   서울특별시 금천구 가산디지털1로 171  금천구  126.880680  37.4807121
4    W-Mall      서울특별시 금천구 디지털로 188  금천구  126.887683  37.4773042
..      ...                     ...  ...         ...         ...
585    사가정역       서울특별시 중랑구 면목로 310  중랑구  127.087965  37.5796083
586     상봉역       서울특별시 중랑구 망우로 307  중랑구  127.086649  37.5969712
587      묵동       서울특별시 중랑구 동일로 952  중랑구  127.076601  37.6153852
588     양원역     서울특별시 중랑구 양원역로10길 3  중랑구  127.106184  37.6065780
589     중화역       서울특별시 중랑구 봉화산로 35  중랑구           0           0

[590 rows x 5 columns]

In [32]:
ediya.to_csv(
    "ediya.csv", sep=',', encoding="UTF-8"
)

ediya.to_csv(
    "(2)ediya.csv", sep=',', encoding="UTF-8"
)

starbuck_reindex.to_csv(
    "starbucks.csv", sep=',', encoding="UTF-8"
)

starbuck_reindex.to_csv(
    "(2)starbucks.csv", sep=',', encoding="UTF-8"
)

데이터 종합은 다음 ipynb에서 진행합니다.